@inherits LayoutComponentBase

<div class="flex flex-row bg-dark items-center w-full h-full">

	<main id="main" class="flex items-center justify-center w-full h-full bg-dark text-white">
		@Body
	</main>
</div>

@code {

}
