@inherits LayoutComponentBase

<div class="min-h-screen grid grid-cols-[18%] grid-rows-[4rem] bg-[#dddddf]">

    <HeaderHomePage />

	<AsideBarHomePage />

    <main id="main" class="col-[2/8] row-[2/7] bg-[#dddddf] text-black m-4">
        @Body
    </main>
</div>

@code {

   

}
