@inherits LayoutComponentBase

<div class="flex flex-col bg-dark items-center w-full h-full bg-[#141414]">

	<HeaderLandingPage />

	<main id="main" class="flex items-center justify-center w-full h-full bg-dark text-dark-foreground">
		@Body
	</main>
</div>





