@page "/solicitudes"
@layout BasicPageLayout


<section id="contactUs" class="section flex items-center justify-center w-full h-screen bg-white px-20 text-black">
    <FormContact Description="Hemos detectado que hay fallos con tu cuenta Porfavor comunicate con Nosotros"></FormContact>
</section>

@code {

}
