<aside class="row-[1/7] col-[1/2] bg-[#0b0b0e] flex flex-col  gap-3">

    <div class="h-16 flex justify-center items-center">
        <a href="#" class="h-full flex items-center justify-center text-2xl  text-gray-900 font-bold text-center">
            <img src="./assets/logoinvernalb.png" alt="LogoInvernalab" width="40" height="25" />
            <span class="text-lg text-white">InvernaLab</span>
        </a>
    </div>

    <ul class="text-white w-ful py-4 flex flex-col gap-2">
        <AsideLink Text="Empresa" SvgString="@companySvg" />
        <AsideLink Text="Empresa" SvgString="@companySvg" />
        <AsideLink Text="Empresa" SvgString="@companySvg" />
        <AsideLink Text="Empresa" SvgString="@companySvg" />
    </ul>
</aside>

@code {

    string companySvg = "<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-building-2'><path d='M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z' /><path d='M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2' /><path d='M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2' /><path d='M10 6h4' /><path d='M10 10h4' /><path d='M10 14h4' /><path d='M10 18h4' /></svg>";

}
