<div class="w-8 h-8 rounded-full  text-[#92929a] flex justify-center items-center hover:bg-[#202020] transition-all hover:text-[#32C06B] ">
	<Svg SvgString="@SvgString" />
</div>

@code {

	[Parameter]
	public string SvgString { get; set; } = "";

}
