
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Gooogle-logo_1.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208000.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208010.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208008.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/26AADFBE-6C67-452E-A29D-52C120E4DB40.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Linkedin-logo_0.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Royal%20Caribbean-logo_0.svg" alt="">
        </div>


        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Gooogle-logo_1.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208000.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208010.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Group%208008.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/26AADFBE-6C67-452E-A29D-52C120E4DB40.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Linkedin-logo_0.svg" alt="">
        </div>
        <div class="slide">
            <img src="https://statics.globant.com/production/public/2022-11/Royal%20Caribbean-logo_0.svg" alt="">
        </div>
    </div>
</div>

@code {

}
